<!DOCTYPE html>
<!--[if IE 9 ]>
<html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body class="four-zero-content">
<div class="four-zero">
    <h2>404 !</h2>
    <small>Đường dẫn truy cập không có hoặc bị xoá khỏi hệ thống !</small>

    <footer>
        <a role="button" onclick="window.history.back()"><i class="zmdi zmdi-arrow-back"></i></a>
        <a href="/"><i class="zmdi zmdi-home"></i></a>
    </footer>
</div>

<!-- Older IE warning message -->
<!--[if lt IE 9]>
<div class="ie-warning">
    <h1 class="c-white">Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="img/browsers/chrome.png" alt="">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="img/browsers/firefox.png" alt="">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="img/browsers/opera.png" alt="">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="img/browsers/safari.png" alt="">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="img/browsers/ie.png" alt="">
                    <div>IE (New)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<style>
    .four-zero-content {
        background: #fff;
        padding: 20px;
    }

    .four-zero-content {
        background: #fff;
        padding: 20px;
    }

    .four-zero-content:before {
        height: 50%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #EDECEC;
        content: "";
    }

    .four-zero {
        background: #2371f2;
        box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
        border-radius: 2px;
        position: absolute;
        top: 50%;
        margin-top: -150px;
        color: #fff;
        text-align: center;
        padding: 15px;
        height: 300px;
        width: 500px;
        left: 50%;
        margin-left: -250px;
    }

    .four-zero h2 {
        font-size: 130px;
    }

    @media (max-width: 767px) {
        .four-zero {
            width: calc(100% - 40px);
            left: 20px;
            margin-left: 0;
            height: 260px;
            margin-top: -130px;
        }

        .four-zero h2 {
            font-size: 90px;
        }
    }

    .four-zero h2 {
        line-height: 100%;
        color: #fff;
        font-weight: 100;
    }

    .four-zero small {
        display: block;
        font-size: 18px;
    }

    .four-zero footer {
        background: rgba(0, 0, 0, 0.13);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 10px;
    }

    .four-zero footer > a {
        font-size: 21px;
        display: inline-block;
        color: #FFF;
        margin: 0 1px;
        line-height: 40px;
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.09);
        border-radius: 50%;
        text-align: center;
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms;
    }

    .four-zero footer > a:hover {
        background: rgba(0, 0, 0, 0.2);
    }
</style>
</body>
</html>